<form action="/users" method="post" accept-charset="utf-8">
  <p>Name: <input type="text" name="user[user_name]" value="" id="user[user_name]" /></p>
  <p>Phone Number: <input type="text" name="user[phone_number]" id="user[phone_number]" /></p>
  <p><input type="submit" value="Add User" /></p>
</form>