<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Zendesk Twilio SMS Example</title>
  </head>
  <body>
    <h1>Urgent Assistance Team Info</h1>
    <%= yield %>
  </body>
</html>